h1 {
  font-family: "Oswald", sans-serif;
  text-shadow: 2px 2px #636161;
  font-size: 3rem;
  font-weight: 600;
  border-bottom: 2px solid #fff;
  color: #fff;
}
hr {
  height: 3px;
  border: 2px solid rgba(100, 100, 100, 0.39);
  background-color: #fff;
}
.pokemon-picture {
  width: 15vw;
  height: 30vh;
  padding: 5rem;
  margin: 0 auto;
  border-radius: 100rem;
  background-color: #fff;
  border: 2px solid rgb(61, 49, 49);
}
th {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  color: rgb(48, 45, 45);
  border-bottom: 1px solid green;
  color: whitesmoke;
  text-shadow: 2px 2px #636161;
}
tr {
  border-bottom: 1px solid lightgreen;
  font-size: 1.2rem;
  color: wheat;
  text-shadow: 2px 2px #636161;
  font-weight: bold;
}
