<div class="row">
  <div class="col-sm-3">
    <table>
      <tr>
        <th>Height</th>
      </tr>
      <tr>
        <td>{{ pokemon.height }}</td>
      </tr>
    </table>
  </div>
  <div class="col-sm-3">
    <table>
      <tr>
        <th>Weight</th>
      </tr>
      <tr>
        <td>{{ pokemon.weight }}kg</td>
      </tr>
    </table>
  </div>
  <div class="col-sm-3">
    <table>
      <tr>
        <th>Abilities</th>
      </tr>
      <tr *ngFor="let abi of pokemon.abilities">
        <td>
          {{ abi.ability.name }}
        </td>
      </tr>
    </table>
  </div>
  <div class="col-sm-3">
    <table>
      <tr>
        <th>Base Experience</th>
      </tr>
      <tr>
        <td>{{ pokemon.base_experience }}</td>
      </tr>
    </table>
  </div>
</div>
